@import "../../scss/variables";

.root {
  background-color: $black-blue;
  opacity: 0.1;

  &_vertical {
    width: 1px;
    height: 100%;
  }
  &_horizontal {
    width: 100%;
    height: 1px;
  }
}
