@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  display: flex;
  align-items: end;

  position: relative;
  height: 100vh;

  margin-left: $ml;
  margin-right: $mr;

  &__title {
    @include dFlexACenter();

    position: absolute;
    top: calc($index * 5.666667);
    padding-left: calc($index * 2.6 + 6px);
    height: 120px;

    border-left: 5px solid;
    border-image-source: $gradient;
    border-image-slice: 1;

    &_content {
      color: $black-blue;
      font-size: 56px;
      font-weight: 700;
      line-height: 120%; /* 67.2px */

      width: min-content;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    @media (max-width: 768px) {
      border: none;
      top: calc($index * 6.644144);
      padding-left: 0;
      height: auto;
    }
  }
  @media (max-width: 768px) {
    margin: 0 $mMobile;
    overflow: hidden;
  }
}
