@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  // @include dFlexACenter();
  display: flex;
  align-items: end;

  position: relative;
  height: 100vh;

  margin-left: $ml;
  margin-right: $mr;
}
