@import "./scss/variables";
@import "./scss/animations";
@import "./scss/mixins";

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: $mainFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  font-family: $mainFontFamily;
}

h3,
h4,
h5,
h6 {
  font-family: $secondFontFamily;
}

.gradient {
  border: 5px solid;
  border-image: linear-gradient(to bottom, $blue 100%, $fuschia-100 100%);
  margin: 60px;
}
