@import "./mixins";

@keyframes onMouseOverDot {
  from {
    @include activeDot();
  }

  to {
    width: 100%;
    height: 100%;
  }
}

@keyframes onMouseOutDot {
  from {
    width: 100%;
    height: 100%;
  }

  to {
    @include activeDot();
  }
}

@keyframes visibilityChangeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes visibilityChangeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes visbilityChangeIn2 {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
