$black-blue: #42567a;
$iris-100: #5d5fef;
$fuschia-100: #ef5da8;
$blue: #3877ee;

$mainFontFamily: "PT Sans";
$secondFontFamily: "Bebas Neue";

$gradient: linear-gradient($blue 100%, $fuschia-100 100%);

$index: calc(1vh + 1vw);
