$bgcolor: #f4f5f9;
$black-blue: #42567a;
$black-blue50: #42567a50;
$black-blue-border: rgba(66, 86, 122, 0.1);
$iris-100: #5d5fef;
$fuschia-100: #ef5da8;
$blue: #3877ee;

$mainFontFamily: "PT Sans";
$secondFontFamily: "Bebas Neue";

$gradient: linear-gradient($blue, $fuschia-100);

$index: calc(1vh + 1vw);

$diameterCircle: calc($index * 17.667);

$ml: calc($index * 10.666667);
$mr: calc($index * 5.333335);

$mMobile: 20px;

$historicalDatesWidth: calc(100vw - ($ml + $mr));
